autoflake
alembic
asyncpg
beanie
factory-boy
fastapi
httpx
orjson
passlib
pydantic[email]
pyjwt
pytest
pytest-asyncio
pytest-cov
pytest-mock
redis
requests
starlette-context
sqlmodel==0.0.8
uvicorn[standard]
