autoflake
alembic
asyncpg
beanie
bcrypt
black
factory-boy
fastapi
httpx
isort
mutmut
orjson
passlib
pydantic[email]
pyjwt
pytest
pytest-asyncio
pytest-cov
pytest-mock
redis
requests
starlette-context
sqlmodel
uvicorn[standard]
