ALLOWED_ORIGINS=http://localhost:3000
API_DOCS_ENABLED=true
JWT_ALGORITHM=HS256
JWT_ACCESS_EXPIRATION=5
JWT_REFRESH_EXPIRATION=1440
JWT_TOKEN_ACCESS_NAME=expense_jwt_token
JWT_TOKEN_REFRESH_NAME=X-refresh-token
JWT_SECRET=luna_secret_key
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=expense_tracker
POSTGRES_PORT=5432
REDIS_URI=redis://redis:6379
TITLE=Expense Tracker
